.multiview-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 10px;
	height: 100vh;
	width: 100vw;
	padding: 10px;
	box-sizing: border-box;
	background: black;
}

.multiview-item {
	display: flex;
	flex-direction: column;
	border: 2px solid #cc0;

	iframe {
		flex: 1;
		width: 100%;
		border: none;
		background: repeating-conic-gradient(#ddd 0% 25%, #eee 0% 50%) 50% / 40px 40px;
	}
}

.multiview-label {
	padding: 8px;
	text-align: center;
	background-color: #f0f0f0;
	font-weight: bold;
}

.multiview-presenter {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.multiview-director {
	grid-column: 3 / 5;
	grid-row: 1 / 3;
}

.multiview-prompter {
	grid-column: 1 / 3;
	grid-row: 3 / 5;
}

.multiview-overlay {
	grid-column: 3 / 5;
	grid-row: 3 / 4;
}

.multiview-camera {
	grid-column: 3 / 5;
	grid-row: 4 / 5;
}
